.chat__messages {
    overflow-y: scroll;
}

.chat__messages-information {
    max-height: 100%;
}

.chat__message {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:hover {
        .chat__message-edit {
            opacity: 1;
        }
    }
}

.chat__message-container {
    position: relative;
}

.own {
    align-items: flex-end;

    .chat__message-buble {
        border-radius: 10px 10px 0;
        background-color: #8774e1;
    }

    .chat__message-edit {
        left: -45px;
    }

    .chat__message-audio-button {
        background-color: #FFFFFF;
    }

    .chat__message-audio-play {

        path {
            fill: #8774e1;
        }
    }

    .chat__message-audio-pause {

        path {
            fill: #8774e1;
        }
    }
}

.chat__message-buble {
    max-width: 480px;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    background-color: #212121;
    position: relative;
}

.chat__message-buble-voice {
    position: relative;
    overflow: hidden;

    .chat__message-date {
        position: absolute;
        bottom: 5px;
        right: 5px;
        text-align: right;
    }
}

.chat__message-buble-text {
    display: flex;
    align-items: center;

    .chat__message-date {
        margin-left: 10px;
    }
}

.chat__message-text {
    font-size: 18px;
}

.chat__message-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    max-width: 480px;
    width: 100%;

    .chat__message-date {
        position: absolute;
        bottom: 5px;
        right: 5px;
        background-color: #212121;
        width: auto;
        padding: 5px;
        border-radius: 10px;
    }
}

.chat__message-picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 480px;
    height: 320px;
    cursor: pointer;
    overflow: hidden;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: transparent;
        pointer-events: none;
        transition: 0.5s;
    }

    &:hover {

        &::before {
            background-color: rgba(45, 45, 45, 0.5);
        }

        .chat__message-icon {
            opacity: 1;
        }
    }
}

.chat__message-picture-2 {
    width: 240px;
    height: 160px;

    &:nth-child(1) {
        border-radius: 10px 0 0 10px;
    }

    &:nth-child(2) {
        border-radius: 0 10px 10px 0;
    }
}

.chat__message-picture-3 {
    width: 240px;
    height: 160px;

    &:nth-child(1) {
        width: 480px;
        height: 320px;
        border-radius: 10px 10px 0 0;
    }

    &:nth-child(2) {
        border-radius: 0 0 0 10px;
    }

    &:nth-child(3) {
        border-radius: 0 0 10px 0;
    }
}

.chat__message-picture-4 {
    width: 160px;
    height: 100px;

    &:nth-child(1) {
        width: 480px;
        height: 320px;
        border-radius: 10px 10px 0 0;
    }

    &:nth-child(2) {
        border-radius: 0 0 0 10px;
    }

    &:nth-child(3) {
        border-radius: 0 0 0 0;
    }

    &:nth-child(4) {
        border-radius: 0 0 10px 0;
    }
}

.chat__message-picture-5 {
    width: 240px;
    height: 160px;

    &:nth-child(1) {
        width: 480px;
        height: 320px;
        border-radius: 10px 10px 0 0;
    }

    &:nth-child(2) {
        border-radius: 0;
    }

    &:nth-child(3) {
        border-radius: 0;
    }

    &:nth-child(4) {
        border-radius: 0 0 0 10px;
    }

    &:nth-child(5) {
        border-radius: 0 0 10px 0;
    }
}

.chat__message-picture-6 {
    width: 240px;
    height: 160px;

    &:nth-child(1) {
        border-radius: 10px 0 0 0;
    }

    &:nth-child(2) {
        border-radius: 0 10px 0 0;
    }

    &:nth-child(3) {
        border-radius: 0;
    }

    &:nth-child(4) {
        border-radius: 0;
    }

    &:nth-child(5) {
        border-radius: 0 0 0 10px;
    }

    &:nth-child(6) {
        border-radius: 0 0 10px 0;
    }
}

.chat__message-picture-7 {
    width: 160px;
    height: 100px;

    &:nth-child(1) {
        width: 480px;
        height: 320px;
        border-radius: 10px 10px 0 0;
    }

    &:nth-child(2) {
        border-radius: 0;
    }

    &:nth-child(3) {
        border-radius: 0;
    }

    &:nth-child(4) {
        border-radius: 0;
    }

    &:nth-child(5) {
        border-radius: 0 0 0 10px;
    }

    &:nth-child(6) {
        border-radius: 0;
    }

    &:nth-child(7) {
        border-radius: 0 0 10px 0;
    }
}

.chat__message-picture-8 {
    width: 160px;
    height: 100px;

    &:nth-child(1) {
        width: 240px;
        height: 160px;
        border-radius: 10px 0 0 0;
    }

    &:nth-child(2) {
        width: 240px;
        height: 160px;
        border-radius: 0 10px 0 0;
    }

    &:nth-child(3) {
        border-radius: 0;
    }

    &:nth-child(4) {
        border-radius: 0;
    }

    &:nth-child(5) {
        border-radius: 0;
    }

    &:nth-child(6) {
        border-radius: 0 0 0 10px;
    }

    &:nth-child(7) {
        border-radius: 0;
    }

    &:nth-child(8) {
        border-radius: 0 0 10px 0;
    }
}

.chat__message-picture-9 {
    width: 240px;
    height: 160px;

    &:nth-child(1) {
        border-radius: 10px 0 0 0;
    }

    &:nth-child(2) {
        border-radius: 0 10px 0 0;
    }

    &:nth-child(3) {
        border-radius: 0;
    }

    &:nth-child(4) {
        border-radius: 0;
    }

    &:nth-child(5) {
        border-radius: 0;
    }

    &:nth-child(6) {
        border-radius: 0;
    }

    &:nth-child(7) {
        width: 160px;
        height: 100px;
        border-radius: 0 0 0 10px;
    }

    &:nth-child(8) {
        width: 160px;
        height: 100px;
        border-radius: 0;
    }

    &:nth-child(9) {
        width: 160px;
        height: 100px;
        border-radius: 0 0 10px 0;
    }
}

.chat__message-icon {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;

    svg {
        width: 40px;
        height: 40px;
    }
}

.chat__message-date {
    margin-top: 10px;
    font-size: 12px;
    width: 100%;
    text-align: right;
}

.chat__message-edit {
    position: absolute;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    span {
        display: block;
        position: relative;
        width: 6px;
        height: 6px;
        background-color: #FFFFFF;
        border-radius: 10px;

        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            background-color: #FFFFFF;
            border-radius: 50%;
            left: 0;
        }

        &::before {
            top: -10px;
        }

        &::after {
            bottom: -10px;
        }

    }
}

.chat__message-audio {
    width: 220px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 10px;
    z-index: 99;
}

.chat__message-audio-button {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    background-color: #8774e1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat__message-audio-play {

    path {
        fill: #FFFFFF;
    }
}

.chat__message-audio-pause {

    path {
        fill: #FFFFFF;
    }
}

.chat__message-audio-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.chat__message-audio-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.chat__message-audio-time {
    display: flex;
    align-items: center;
    font-size: 12px;

    p {
        width: 40px;
    }
}